# 服务配置
SERVER_HOST=localhost
SERVER_PORT=7348
DEBUG=True

# MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=123456
DB_NAME=code_to_paper

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

# 豆包API
ARK_API_KEY=ac2aff79-60bc-43a0-bd84-a07979fb3f7c
ARK_BASE_URL=https://ark.cn-beijing.volces.com/api/v3
DOUBA_MODEL=ep-20260315170036-qb56q

# 文件存储
UPLOAD_DIR=./uploads
